<article class="blog">
  <div class="blog-header">
    <a href="/post/{{id}}" target="_blank">{{title}}</a>
    <span>Posted by {{User.username}}</span>
  </div>
  <a href="/post/{{id}}" target="_blank">
    <div class="blog-content">
      {{content}}
    </div>
  </a>
</article>