<ul class="blog-list">
  {{#each blogPosts as |blogPost|}}
    <li>
      <article class="blog">
        <div class="blog-header">
          <a href="/post/{{blogPost.id}}" target="_blank">{{blogPost.title}}</a>
          <span>Posted by {{blogPost.User.username}}</span>
        </div>
        <a href="/post/{{blogPost.id}}" target="_blank">
          <div class="blog-content">
            {{blogPost.content}}
          </div>
        </a>
      </article>
    </li>
  {{/each}}
</ul>